*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-logo{
    font-size: 1.7rem;
}
.navbar {
    background-color:  #C2185B !important;
}
.nav-link{
    color: #FFFFFF !important;
    font-weight: bold;
}
.fa-thumbs-up, .fa-cutlery , .fa-calendar-o, .fa-truck{
    font-size: 41px !important;
    color: #C2185B !important ;
    margin-top: 10px;

}
.fa-heart{
    font-size: 41px !important;
}
.font-weight-bold{
    color: #C2185B !important;
}
.col1{
    box-shadow: 5px 3px 5px 3px #C2185B !important;
    justify-content: space-around !important;
    
}
.text-center{
    text-align: center !important;
}
.btn{
    background-color:  #C2185B !important;
    color: #FFFFFF !important;
    font-weight: bold; 
}
.card{
    justify-content: space-between;
}


.container6 {
    margin-top: 1.6rem;

    background-color: #C2185B;
    }
    .container7 {
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Open Sans',sans-serif;
    }
@media(min-width:573){
    .card{
        align-items: center !important;
    }
}


/* about */
 .about-header{
    background: rgba(245, 204, 22, 0.986);
    font-size: 4rem;
    text-align: left;
    align-items: center;
    
    letter-spacing: 3px;

    
    }
    .about{
        margin-top: 0px;
        padding: 0px;
    }
    .content-about{
        text-align: left;
        margin-left: 6rem;
    }
    .content-about p{
      width: 70%;
        border-left: 3px solid black;
        padding: 15px;
        margin-left: 0.8rem;
    }
    
    .content-about .nokia{
        font-weight: bold;
        font-size: 2.4rem;
      
    }
    .content-about .macky{
      
        font-weight:bold;
        font-size: 2.5rem;
    }